<div class="presence-writing">
  {{#each users as |user|}}
    <a data-user-card="{{user.username}}">{{avatar user avatarTemplatePath="avatar_template" usernamePath="username" imageSize="small"}}</a>
  {{/each}}
  <small class="{{presenceWritingClass}}">{{presenceWriting}}</small>
</div>